<div class="page-one-container">
    <div class="page-title">
        <div class="title-text">Document Types</div>
        <div class="btns">
            <button mat-raised-button class="download-btn">Download</button>
            <button mat-raised-button color="primary" class="create-btn" style="margin: 0 20px;">Create New
                Document</button>
        </div>
    </div>

    <div class="section-two">
        <div class="filter">
            <div class="filter-title">
                FILTERS
            </div>
            <mat-accordion>
                <mat-expansion-panel class="expansion-item" [expanded]="step === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PROJECT NAME
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list" class="page-one-list" class="filter-items">
                        <mat-list-item role="listitem">Business Contracts</mat-list-item>
                        <mat-list-item role="listitem">Customer Contracts</mat-list-item>
                        <mat-list-item role="listitem">Supplier Contract</mat-list-item>
                        <mat-list-item role="listitem">Infrastructure Contracts</mat-list-item>
                        <mat-list-item role="listitem">Partnership Contracts</mat-list-item>
                        <mat-list-item role="listitem">IP Contracts</mat-list-item>
                    </mat-list>
                    <button mat-button color="primary" class="btn-new-project">CREATE NEW PROJECT</button>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            SMES
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                        <mat-list-item role="listitem">Item 1</mat-list-item>

                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            CREATED BY
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                        <mat-list-item role="listitem">Item 1</mat-list-item>

                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            STATUS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>

                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PERIOD
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="table-container">
            <div class="selected-filter">
                <mat-chip-listbox>
                    <mat-chip-grid #chipGrid aria-label="Fruit selection">
                        <mat-chip-row>
                            Time and Material
                            <button matChipRemove [ngStyle]="">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>

                    <mat-chip-grid #chipGrid aria-label="Fruit selection">
                        <mat-chip-row>
                            Fixed Price
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <button class="clear-button" mat-button color="primary">CLEAR ALL</button>
                </mat-chip-listbox>
            </div>

            <div class="custom-tab">
                <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false">
                    <mat-tab label="DRAFT"><app-table></app-table></mat-tab>
                    <mat-tab label="ASSIGNED">
                        <app-table></app-table>
                    </mat-tab>
                    <mat-tab label="TAGGED"><app-table></app-table></mat-tab>
                    <mat-tab label="MODELLED"></mat-tab>
                    <mat-tab label="TRAINED"><app-table></app-table></mat-tab>
                    <mat-tab label="VALIDATED"><app-table></app-table></mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>